/* Hero */

.hero-section {
  height: 100vh;
  background-color: var(--color-floar-white);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}

.hero-content > img[alt="hero-doctor"] {
  width: 100%;
  max-width: 512px;
  max-height: 512px;

  margin-top: -100px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.hero-content > article {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-content > article > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content > article > p {
  line-height: 1.6;
  color: var(--color-black-60)
}

.hero-content > article > button {
  padding: 12px 16px;
  align-self: flex-start;
  border-radius: 8px 4px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.video-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 60px;
  text-align: center;
}

.video-section .h2 {
  color: var(--color-black);
  position: relative;
}

.video-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.video-card {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: 300px;
  overflow: hidden;

  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 12px;

  border-radius: 12px;

  cursor: pointer;
}

.video-card video {
  width: 100%;
  min-height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10; 
  
  object-fit: cover;
}

.card-content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 140px;

  position: relative;
}

.card-content h3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-floar-white);

  line-height: 32px;
  letter-spacing: 1.4px;
}

.card-content p {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-floar-white);
  text-align: left;

  line-height: 32px;
  letter-spacing: 1.4px;
}

.video-card::after {
  content: "";
  display: block;

  width: 100%;
  height: 100%;;

  position: absolute;
  inset: 0;
  z-index: -5;

  background-color: var(--color-black-60);
}

@media screen and (max-width: 1140px) {
  .hero-content > img[alt="hero-doctor"] {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
  }

  .video-card {
    height: 200px;
    max-width: 300px;
  }

  .card-content {
    gap: 40px;
  }

  .card-content h3 {
    font-size: 24px;
  }

  .card-content p {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 857px) and (min-width: 550px) {
  .hero-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-content > article > button {
    align-self: center;
    width: 200px;
  }
}

@media screen and (max-width: 857px) {
  .hero-section {
    height: 100%;
    padding-bottom: 20px;
  }

  .hero-content > img[alt="hero-doctor"] {
    display: none;
  }

  .hero-content {
    margin-top: 100px;
  }

  .hero-content > article > h1 {
    font-size: 24px;
  }

  .hero-content > article > p {
    font-size: 14px;
  }

  .hero-content > article > button {
    font-size: 14px;
  }

  .video-content iframe {
    min-height: 150px;
    max-width: 240px;
  }
}

@media screen and (max-width: 550px) {
  .hero-content > article > h1 {
    font-size: 24px;
  }

  .hero-content > article > p {
    font-size: 14px;
  }

  .hero-content > article > button {
    font-size: 14px;
  }

  .video-section {
    margin-top: 20px;
  }

  .video-section .h2 {
    font-size: 20px;
  }

  .video-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}