/* Hero */

.hero-section {
  height: 100vh;
  background-color: #fef8f2;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}

.hero-content > img[alt="hero-doctor"] {
  width: 100%;
  max-width: 512px;
  max-height: 512px;

  margin-top: -100px;
  border-radius: 50%;
  background-color: var(--orange-color);
}

.hero-content > article {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-content > article > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content > article > p {
  line-height: 1.6;
  color: rgba(0, 0, 0, .6)
}

.hero-content > article > button {
  padding: 12px 16px;
  align-self: flex-start;
  border-radius: 8px 4px;
  background-color: var(--orange-color);
  color: var(--white-color);
}

@media screen and (max-width: 1140px) {
  .hero-content > img[alt="hero-doctor"] {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
  }
}

@media screen and (max-width: 857px) and (min-width: 550px) {
  .hero-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-content > article > button {
    align-self: center;
    width: 200px;
  }
}

@media screen and (max-width: 857px) {
  .hero-section {
    height: 100%;
    padding-bottom: 20px;
  }

  .hero-content > img[alt="hero-doctor"] {
    display: none;
  }

  .hero-content {
    margin-top: 100px;
  }

  .hero-content > article > h1 {
    font-size: 24px;
  }

  .hero-content > article > p {
    font-size: 14px;
  }

  .hero-content > article > button {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .hero-content > article > h1 {
    font-size: 24px;
  }

  .hero-content > article > p {
    font-size: 14px;
  }

  .hero-content > article > button {
    font-size: 14px;
  }
}